<div id="jumbo" class="jumbotron">
  <h1 class="display-5"><i class="fa fa-sticky-note" aria-hidden="true"></i>
    Sticky notes board</h1>
  <hr>
  <button (click)="open(content)" class="btn btn-md btn-outline-primary">
    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
    New Note</button>
</div>

<div  class="container-fluid board pt-5">
  <div class="row ml-4 mt-3" >
    <div *ngFor="let note of notes"  class="col ml-3 mb-3"  >
<div  class="card " style="width: 18rem;" id={{note.noteColor}} >
    <a  href="#" title="Remove note">
        <i id="close" class="fa fa-times" aria-hidden="true" (click)="removeNote(note.id)"></i>
      </a>
    <img  src="assets/pin.png" alt="pin" class="center" >
    <div class="card-body">
      <h5 class="card-title">{{note.title}}</h5>
      <p class="card-text">{{note.noteText}}</p>
      <a  href="#" title="Edit note">
          <i id="fa" class="fa fa-pencil-square-o fa-2x" aria-hidden="true" (click)="open(edit); buttonEdit(note.id,note.title, note.noteText,note.noteColor)"></i>
        </a>
        
    </div>
  </div>
</div>
</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Note</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="title">Title</label>
        <div class="input-group">
          <input id="title" name="title" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="notetext">Notes</label>
        <div class="input-group">
          <textarea id="notetext" name="noteText" class="form-control" ngModel></textarea>
        </div>
      </div>
      <span>Choose color</span>
      <div *ngFor="let color of colors">
        <div class="input-group">
          <div class= "input-group-text">
        <input type="radio" id="{{color}}" name="colorOfNote" value="{{color}}" 
          (change)="radioChangeHandler($event)">
          <label class="form-control" for="{{color}}" id="{{color}}">   </label>
        </div>

      </div>
    </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="modal.close('Save click')">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #edit let-modal>
  <div  class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Note</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSave(f)">
      <div class="form-group">
        <label for="title">Title</label>
        <div class="input-group">
          <input id="title" name="title" class="form-control" ngModel={{activenote[0].title}} (change)="titleChangeHandler($event)">
        </div>
      </div>
      <div class="form-group">
        <label for="notetext">Notes</label>
        <div class="input-group">
          <textarea id="notetext" name="noteText" class="form-control" ngModel={{activenote[0].noteText}} (change)="textChangeHandler($event)"></textarea>
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="modal.close('Save click')">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>