#jumbo{
  padding: 5px;
}

.border{
    padding: 10px;
  }
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  #lightgreen{
    background-color: lightgreen;
    
  }
  #magenta{
    background-color: magenta;
    
  }
  #lightblue{
    background-color: lightblue;
    
  }
  #lightyellow{
    background-color: lightyellow;
    
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  #fa{
    margin-left: 14rem;
  }
 
 #close{
  margin-left: 16rem;
 }
   