/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body {
    
    background-image: url("/assets/Cork.jpg");
    background-color: #e2e0da;
    background-position: left 130px;
    background-repeat: no-repeat;
   
    
    
   }